<p>Hey <%= @user.first_name %>,</p>
----------------------------------------
<p>We're so sorry, but <% @booking.user.first_name %> <% @booking.user.last_name %>
   cancelled their booking with you from <%= @ride.start_location %> to <%= @ride.end_location %>
   on <%= @ride.date %>.</p>


<p>Love,</p>
<p>The Hitchr Team</p>
