<h1>HITCHR</h1>

<h2>Dear, <%= @user.first_name.capitalize %>, your profile was deleted!</h2>

<p>We're sad to see you leave!</p>

<p><%= link_to "Check out Hitchr, if you change your mind", root_url %></p>

<p>Love,</p>
<p>The Hitchr Team</p>
