<h1>HITCHR</h1>

<h2>Welcome to Hitchr, <%= @user.first_name.capitalize %>!</h2>

<p>We're so excited to have you along for the ride.</p>

<p><%= link_to "Check out Hitchr", root_url %></p>

<p>Love,</p>
<p>The Hitchr Team</p>
