// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-button, .view-ride-button, {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 2px;
  font-family: arial, sans-serif;
  background-color: #7FB5DA;
  color: #fff;
}


.ride-complete-button {
  font-size: 15px;
  padding: 9px 18px;
  border-radius: 2px;
  font-family: arial, sans-serif;
  background-color: #7FB5DA;
  color: #fff;
}

.bookings-show{
  background-color: #fbfbfb;
  margin-left: -40px;
  margin-bottom: 40px;
  padding: 40px;
  color: #484848;
  padding-top: 10px;
  margin-top: 40px;
}
