.navbar-inverse {
  opacity: 0.7;
  border: none;
  margin-bottom: 10px;
  background-color: white;
  overflow: hidden;
  padding: 0 30px;
  text-decoration: none;
  margin: 0;


}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
  background-color: #092827;

}

.navbar-inverse .navbar-toggle {
  background-color: #1ede8b;
}

.navbar-inverse .navbar-nav > li > a {
  color: black;
  padding: 14px 16px;
margin-bottom: 5px;
text-transform: uppercase;
margin-right: 5px;
}

a.btn:hover {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  border-bottom: 2px solid #1ede8b;
  margin-left: 9px;
  color: black;
}
.navbar-inverse .navbar-nav > li > a:hover {
  color: #1ede8b;
}

.navbar-nav > li {
  @media (min-width: 768px){

    float: right;
  }
}


.navbar-inverse .navbar-brand {
  color: black;
}

.navbar-inverse .navbar-brand:hover {
  color: #1ede8b;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  border-bottom: 2px solid #1ede8b;
  margin-left: 9px;
}
