/* Outer */

label {
    font-size: 1.5em;
    font-family: "Raleway", arial, sans-serif;
}
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
    z-index: 2000;
}

/* Inner */
.popup-inner {
    max-width:700px;
    width:90%;
    height: 630px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    overflow: visible;;
}

.popup-inner2 {
    height: 370px;
    width: 50%;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
}

/* Close Button */
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background: #ff8f4e;
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}

.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background: #ff8f4e;
    text-decoration:none;
}

input#user_avatar {
    text-align: center;
    margin: 0;
    margin-left: 37%;
}

input#user_first_name, input#user_last_name, input#user_email, input#user_password, input#user_password_confirmation, input#user_phone_number {
  width: 100%;
  height: 50px;
  font-weight: 300;
  font-size: medium;
  font-family: "Raleway", arial, sans-serif;
  border-radius: 7px;
}

select#user_gender, select#user_date_of_birth_1i, select#user_date_of_birth_2i, select#user_date_of_birth_3i, {
  width: 100%;
  height: 50px;
  font-weight: 300;
  font-size: medium;
  font-family: "Raleway", arial, sans-serif;
  color: black;
  background-color: white;
  width: 100%;
  height: 50px;
  border-left: 2px solid #9C9C9C;
  border-top: 2px solid #9C9C9C;
  border-right: 2px solid #EDEDED;
  border-bottom: 2px solid #EDEDED;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-family: "Raleway", arial, sans-serif;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-default {
  border-bottom: 2px solid #9C9C9C;
}
