
.user-form-errors {

  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.user-form-errors ul li {

  list-style-type: none;

}

.user-form-errors p {

  font-family: railway, arial, sans-serif;
  font-style: italic;

}
